<div class="input_container">
  <div class="section-title">
    マイページを編集
  </div>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>
    
    <div class="sub-title">
      基本情報
    </div>

    <div class="form_wrap">
      <%= f.label :company, "会社名", class: "form_wrap_text" %><br />
      <%= f.text_field :company, autofocus: true, autocomplete: "company", class: "form_wrap_field" %>
    </div>

    <div class="form_wrap">
      <%= f.label :city, "市町村", class: "form_wrap_text" %><br />
      <%= f.text_field :city, autofocus: true, autocomplete: "city", class: "form_wrap_field" %>
    </div>

    <div class="form_wrap">
      <%= f.label :address, "住所", class: "form_wrap_text" %><br />
      <%= f.text_field :address, autofocus: true, autocomplete: "address", class: "form_wrap_field" %>
    </div>

    <div class="form_wrap">
      <%= f.label :phone, "電話番号", class: "form_wrap_text" %><br />
      <%= f.text_field :phone, autofocus: true, autocomplete: "phone", class: "form_wrap_field" %>
    </div>

    <div class="form_wrap">
      <%= f.label :manager, "担当者名", class: "form_wrap_text" %><br />
      <%= f.text_field :manager, autofocus: true, autocomplete: "manager", class: "form_wrap_field" %>
    </div>

    <div class="form_wrap">
      <%= f.label :invoice, "インボイス番号", class: "form_wrap_text" %><br />
      <%= f.text_field :invoice, autofocus: true, autocomplete: "invoice", class: "form_wrap_field" %>
    </div>

    <div class="sub-title">
      銀行情報
    </div>

    <div class="form_wrap">
      <%= f.label :bank, '銀行名', class: "form_wrap_text" %><br>
      <%= f.text_field :bank, class: "form_wrap_field" %>
    </div>
    <div class="form_wrap">
      <%= f.label :branch, '支店名', class: "form_wrap_text" %><br>
      <%= f.text_field :branch, class: "form_wrap_field" %>
    </div>
    <div class="form_wrap">
      <%= f.label :account_type, '口座種別', class: "form_wrap_text" %><br>
      <%= f.text_field :account_type, class: "form_wrap_field" %>
    </div>
    <div class="form_wrap">
      <%= f.label :number, '口座番号', class: "form_wrap_text" %><br>
      <%= f.text_field :number, class: "form_wrap_field" %>
    </div>
    
    <div class="form_wrap">
      <%= f.label :name, '口座名義', class: "form_wrap_text" %><br>
      <%= f.text_field :name, class: "form_wrap_field" %>
    </div>

      <div class="form_wrap">
      <%= f.label :email, 'メールアドレス(本人確認用)', class: "form_wrap_text" %>
      <span class="attension">必須</span><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form_wrap_field" %>
    </div>

    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
    <% end %>

    <div class="form_wrap">
      <%= f.label :current_password, '現在のパスワード', class: "form_wrap_text" %><br />
      <%= f.password_field :current_password, autocomplete: "current-password", class: "form_wrap_field" %>
    </div>

    <div class="box-wrap-btn">
      <%= f.submit "更新", class: "box-content" %>
    </div>
  <% end %>

  <div class="back">
    <%= link_to "Back", :back %>
  </div>
</div>