<div class="input_container">
  <div class="section-title">
    新規登録
  </div>


  <% if @user.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>
    <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>

    <div class="form_wrap">
      <%= f.label :company, "会社名", class: "form_wrap_text" %>
      <span class="attension">必須</span><br />
      <%= f.text_field :company, autofocus: true, autocomplete: "company", class: "form_wrap_field" %>
    </div>

    <div class="form_wrap">
      <%= f.label :phone, "電話番号", class: "form_wrap_text" %>
      <span class="attension">必須</span><br />
      <%= f.text_field :phone, autofocus: true, autocomplete: "phone", class: "form_wrap_field" %>
    </div>

    <div class="form_wrap">
      <%= f.label :email, "メールアドレス", class: "form_wrap_text" %>
      <span class="attension">必須</span><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class:"form_wrap_field" %>
    </div>

    <div class="form_wrap">
      <%= f.label :password, "パスワード(英数混合で8文字以上)", class: "form_wrap_text" %>
      <%# <% if @minimum_password_length %>
      <%# <em>(<%= @minimum_password_length 文字以上)</em> %>
      <%# <% end %><span class="attension">必須</span><br />
      <%= f.password_field :password, autocomplete: "new-password", class: "form_wrap_field" %>
    </div>

    <div class="form_wrap">
      <%= f.label :password_confirmation, "パスワード再入力", class: "form_wrap_text" %>
      <span class="attension">必須</span><br />
      <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form_wrap_field" %>
    </div>
    
    <div class="btn_wrap">
      <%= f.submit "登録", class: "form_btn" %>
    </div>
  <% end %>

  <div class="btn_wrap">
    <%= render "devise/shared/links" %>
  </div>
</div>
