<div class="top-page-container">

  <!-- サイドバー -->
  <div class="side-bar">
    <div class="contents">
      <div class="top-menu">
        新規登録
      </div>
      <div>
        <p><%= link_to '仕入れ先登録', new_supplier_path %></p>
        <p><%= link_to '得意先登録', new_customer_path %></p>
        <p><%= link_to 'カテゴリ登録', new_category_path %></p>
        <p><%= link_to '商品登録', new_item_path %></p>
      </div>
    </div>
    <div class="contents">
      <div class="top-menu">
        登録済リスト
      </div>
      <div>
        <p><%= link_to '仕入れ先一覧', suppliers_path %></p>
        <p><%= link_to '得意先一覧', customers_path %></p>
        <p><%= link_to 'カテゴリ一覧', categories_path %></p>
        <p><%= link_to '商品一覧', items_path %></p>
      </div>
    </div>
    <div class="contents">
      <div class="top-menu">
        集計
      </div>
      <div>
        <p><%= link_to '仕入れ先別', buys_search_path %></p>
        <p><%= link_to '得意先別', sells_search_path %></p>
        <p><%= link_to 'カテゴリ別', categories_search_path %></p>
        <p><%= link_to '商品別', items_search_path %></p>
      </div>
    </div>
  </div>

  <!-- メイン -->
  <div class="top-main">
    <div class="contents">
      <div class="top-menu">
        仕入れ関連
      </div>
      <div>
        <p><%= link_to '発注書作成', suppliers_order_index_path, class: "btn" %></p>
        <p><%= link_to '発注履歴', buys_order_index_path, class: "btn" %></p>
        <p><%= link_to '支払明細書作成', buys_issue_receipt_path, class: "btn" %></p>
      </div>
    </div>
    <div class="contents">
      <div class="top-menu">
        納品関連
      </div>
      <div>
        <p><%= link_to '納品書作成', customers_order_index_path, class: "btn" %></p>
        <p><%= link_to '納品履歴', sells_order_index_path, class: "btn" %></p>
        <p><%= link_to '請求書作成', sells_issue_receipt_path, class: "btn" %></p>
      </div>
    </div>
  </div>
</div>