<div class="input_container">
  <div class="section-title">
    得意先の編集
  </div>

  <%= form_with model: @customer, local: true do |f| %>

    <div class="sub-title">
      得意先基本情報
    </div>

    <div class="form_wrap">
      <%= f.label :company, '得意先会社名', class: "form_wrap_text" %>
      <span class="attension">必須</span><br>
      <%= f.text_field :company, class: "form_wrap_field" %>
    </div>
        <div class="form_wrap">
      <%= f.label :phone, '電話番号', class: "form_wrap_text" %>
      <span class="attension">必須</span><br>
      <%= f.text_field :phone, class: "form_wrap_field" %>
    </div>
    <div class="form_wrap">
      <%= f.label :city, '市区町村', class: "form_wrap_text" %><br>
      <%= f.text_field :city, class: "form_wrap_field" %>
    </div>
    <div class="form_wrap">
      <%= f.label :address, '住所', class: "form_wrap_text" %><br>
      <%= f.text_field :address, class: "form_wrap_field" %>
    </div>

    <div class="sub-title">
      銀行情報
    </div>

    <div class="form_wrap">
      <%= f.label :bank, '銀行名', class: "form_wrap_text" %><br>
      <%= f.text_field :bank, class: "form_wrap_field" %>
    </div>
    <div class="form_wrap">
      <%= f.label :branch, '支店名', class: "form_wrap_text" %><br>
      <%= f.text_field :branch, class: "form_wrap_field" %>
    </div>
    <div class="form_wrap">
      <%= f.label :account_type, '口座種別', class: "form_wrap_text" %><br>
      <%= f.text_field :account_type, class: "form_wrap_field" %>
    </div>
    <div class="form_wrap">
      <%= f.label :number, '口座番号', class: "form_wrap_text" %><br>
      <%= f.text_field :number, class: "form_wrap_field" %>
    </div>
    <div class="form_wrap">
      <%= f.label :name, '名義人（カナ）', class: "form_wrap_text" %><br>
      <%= f.text_field :name, class: "form_wrap_field" %>
    </div>

    <div class="btn_wrap">
      <%= f.submit "登録", class: "form_btn" %>
    </div>
  <% end %>

  <div class="back">
  <%= link_to  '前のページに戻る', customers_path %>
  </div>

</div>

