<h1><%= @customer.company %>の詳細</h1>

<div>
  <label>会社名</label>
  <%= @customer.company %>
</div>

<div>
  <label>市区町村</label>
  <%= @customer.city %>
</div>

<div>
  <label>住所</label>
  <%= @customer.address %>
</div>

<div>
  <label>電話番号</label>
  <%= @customer.phone %>
</div>

<%= link_to '編集', edit_customer_path(@customer.id) %>
<%= link_to '削除', customer_path(@customer.id), data: { turbo_method: :delete, confirm: '削除してもよろしいですか？' } %>

<%= link_to '戻る', customers_path %>