<div class="input_container">
  <div class="section-title">
    ログイン
  </div>

  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="form_wrap">
      <%= f.label :email, "メールアドレス", class: "form_wrap_text" %><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form_wrap_field" %>
    </div>

    <div class="form_wrap">
      <%= f.label :password, "パスワード", class: "form_wrap_text" %><br />
      <%= f.password_field :password, autocomplete: "current-password", class: "form_wrap_field" %>
    </div>

    <div class="btn_wrap">
      <%= f.submit "ログイン", class: "form_btn" %>
    </div>
  <% end %>

  <div class="btn_wrap">
    <%= render "devise/shared/links" %>
  </div>
</div>
