<h1>発注の編集</h1>

<%= form_with(model: [@supplier, @buy], local: true) do |f| %>
  <div>
    <%= f.label :transaction_date, "納品日" %>
    <%= f.date_field :transaction_date %>
  </div>

  <div>
    <table class="table-bordered">
      <thead>
        <tr>
          <th>カテゴリ</th>
          <th>商品</th>
          <th>数量</th>
          <th>単位</th>
          <th>金額</th>
        </tr>
      </thead>
      <tbody>
        <%= f.fields_for :buy_items do |buy_item_form| %>
          <tr>
            <td>
              <%= buy_item_form.collection_select :category_id, @categories, :id, :category, { prompt: "カテゴリを選択" }, { class: "" } %>
            </td>
            <td>
              <%= buy_item_form.collection_select :item_id, @items, :id, :item_name, { prompt: "商品を選択" }, { class: "" } %>
            </td>
            <td>
              <%= buy_item_form.number_field :quantity, class: 'quantity-edit', 'data-id': buy_item_form.index %>
            </td>
            <td id="unit">
              <%= @items.find { |item| item.id == buy_item_form.object.item_id }&.unit || "--" %>
            </td>
            <td>
              <%= buy_item_form.text_field :item_price, class: 'item-price-edit', 'data-id': buy_item_form.index %>
            </td>
          </tr>
        <% end %>  
      </tbody>
    </table>

    <%= f.label :total_price, '合計' %>
    <%= f.text_field :total_price, id: 'total_price_edit' %>

    <%= f.submit "発注書を更新" %>
  </div>
<% end %>