<div class="box_container">
  <div class="section-title">
    支払い明細書の作成
  </div>
  <div class="box-center">
    <%= form_with url: buys_receipt_path, method: :get, local: true do %>
      <div class="box-wrap">
        <%= label_tag :supplier_id, "仕入れ先", class: "box-label" %><br>
        <%= select_tag :supplier_id, options_from_collection_for_select(@suppliers, :id, :company, params[:supplier_id]), prompt: "仕入れ先を選択", class: "box-pull" %>
      </div>

      <div class="box-wrap">
        <%= label_tag :start_date, "開始日", class: "box-label" %><br>
        <%= date_field_tag :start_date, params[:start_date], class: "box-calender" %>
      </div>

      <div class="box-wrap">
        <%= label_tag :end_date, "終了日", class: "box-label" %><br>
        <%= date_field_tag :end_date, params[:end_date], class: "box-calender" %>
      </div>

      <div class="box-wrap">
        <%= label_tag :end_date, "振込予定日", class: "box-label" %><br>
        <%= date_field_tag :pay_date, params[:pay_date], class: "box-calender" %>
      </div>

      <div class="box-wrap-btn">
        <%= submit_tag "検索", class: "box-search" %>
      </div>
    <% end %>
  </div>

  <div class="back", style="text-align:center">
    <%= link_to  '前のページに戻る', root_path %>
  </div>
</div>