<div class="table_container">
  <div class="section-title">
    発注履歴
  </div>

  <table class="table-bordered">
    <thead>
      <tr>
        <th>発注日</th>
        <th>発注先</th>
        <th>金額</th>
        <th>編集</th>
        <th>削除</th>
      </tr>
    </thead>
    <tbody>
      <% @buys.each do |buy| %>
        <tr>
          <td><%= buy.transaction_date %></td>
          <td><%= buy.supplier.company %></td>
          <td><%= buy.total_price %></td>
          <td><%= link_to '編集（金額入力）', edit_supplier_buy_path(supplier_id: buy.supplier_id, id: buy.id) %></td>
          <td><%= link_to '削除', supplier_buy_path(supplier_id: buy.supplier_id, id: buy.id), method: :delete, data: { confirm: '削除してもよろしいですか？' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>