<div class="a5_container"> 

  <div class="pdf-title">
    PDFお支払い明細書
  </div>

  <div class="pdf-header">
    <div class="pdf-header-left">
      <div class="pdf-left-company">
        <div class="pdf-company-name">
          <%= @supplier.company %>
        </div>
        <div class="pdf-company-tag">
          御中
        </div>
      </div>
      <div class="pdf-pay-content">
        <div class="pdf-pay-menu monthly-menu">
          対象期間
        </div>
        <div class="pdf-pay-text monthly-text">
          <%= @start_date %> ～ <%= @end_date %>
        </div>
      </div>
      <div class="pdf-pay-content">
        <div class="pdf-pay-menu">
          支払い予定日
        </div>
        <div class="pdf-pay-text">
          <%= @pay_date %>
        </div>
      </div>
      <div class="pdf-pay-content">
        <div class="pdf-pay-menu">
          合計金額
        </div>
        <div class="pdf-pay-text">
          <%= number_with_precision(@receipts.compact.sum { |r| r.total_price.to_f }, precision: 0) %>円
        </div>
      </div>
    </div>

    <div class="pdf-header-right">
      <div class="pdf-right-date">
        作成日：<%= Date.today %>
      </div>
      <div class="pdf-right-company">
        <%= @user.company %><br><br>
        住所：<%= @user.city %><%= @user.address %><br>
        電話番号：<%= @user.phone %><br>
        担当：<%= @user.manager %><br>
        登録番号：<%= @user.invoice %>
      </div>
    </div>
  </div>

  <div class="">
    <table class="pdf-table">
      <thead class="pdf-table-header">
        <tr>
          <th>取引日</th>
          <th>金額</th>
        </tr>
      </thead>
      <tbody>
        <% @receipts.each do |receipt| %>
        <tr>
          <td class="table-day"><%= receipt.transaction_date %></td>
          <td class="table-price"><%= receipt.total_price %></td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>

  <div class="back">
    <%= link_to '前のページに戻る', buys_order_index_path %>
  </div>
</div>