<div class="a5_container"> 

  <div class="pdf-title">
    発注書
  </div>

  <div class="pdf-header">
    <div class="pdf-header-left">
      <div class="pdf-left-company">
        <div class="pdf-company-name">
          <%= @supplier.company %>
        </div>
        <div class="pdf-company-tag">
          御中
        </div>
      </div>
      <div class="pdf-pay-content">
        <div class="pdf-pay-menu">
          納品希望日
        </div>
        <div class="pdf-pay-text">
          <%= @buy.transaction_date %>
        </div>
      </div>
    </div>

    <div class="pdf-header-right">
      <div class="pdf-right-date">
        作成日：<%= Date.today %>
      </div>
      <div class="pdf-right-company">
        <%= @user.company %><br><br>
        住所：<%= @user.city %><%= @user.address %><br>
        電話番号：<%= @user.phone %><br>
        担当：<%= @user.manager %>
      </div>
    </div>
  </div>

  <div class="">
    <table class="pdf-table">
      <thead class="pdf-table-header">
        <tr>
          <th>商品名</th>
          <th>数量</th>
          <th>単位</th>
        </tr>
      </thead>
      <tbody>
        <% @buy.buy_items.each do |buy_item| %>
          <tr>
            <td><%= @items.find { |item| item.id == buy_item.item_id }&.item_name || "不明" %></td>
            <td class="pdf-table-quantity"><%= buy_item.quantity %></td>
            <td class="pdf-table-unit"><%= @items.find { |item| item.id == buy_item.item_id }&.unit || "不明" %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>

  <div class="back">
    <%= link_to '前のページに戻る', buys_order_index_path %>
  </div>