  <div class="section-title">
    発注書
  </div>

  <p class="pdf-p">本日の日時: <%= Date.today %></p>

  <%= @user.company %>
  <%= @user.phone %>
  <%= @user.manager %>
  
  <div class="sub-title">
    <%= @supplier.company %>御中
  </div>

    <div class="sub-title">
    納品希望日: <%= @buy.transaction_date %>
  </div>

  <table class="table-bordered">
    <thead>
      <tr>
        <th>カテゴリ</th>
        <th>商品</th>
        <th>数量</th>
        <th>単位</th>
        <th>金額</th>
      </tr>
    </thead>
    <tbody>
      <% @buy.buy_items.each do |buy_item| %>
        <tr>
          <td><%= @categories.find { |category| category.id == buy_item.category_id }&.category || "不明" %></td>
          <td><%= @items.find { |item| item.id == buy_item.item_id }&.item_name || "不明" %></td>
          <td class="table-quantity"><%= buy_item.quantity %></td>
          <td class="table-unit"><%= @items.find { |item| item.id == buy_item.item_id }&.unit || "不明" %></td>
          <td class="table-price"><%= buy_item.item_price %></td>
        </tr>
      <% end %>
    </tbody>
    <tfoot>
      <tr>
        <td class="table-total-text" colspan="4">合計</td>
        <td class="table-price"><%= @buy.total_price %></td>
      </tr>
    </tfoot>
  </table>

  <div class="back">
    <%= link_to '前のページに戻る', buys_order_index_path %>
  </div>