<h1>アイテムの編集</h1>

<div>
  <%= form_with model: @item, local: true do |f| %>

    <div>
      <%= f.label :category_id, "カテゴリ" %>
      <%= f.collection_select :category_id, @categories, :id, :category, prompt: "カテゴリを選択" %>
    </div>
    <div>
      <%= f.label :item_name, '商品名' %>
      <%= f.text_field :item_name %>
    </div>
    <div>
      <%= f.label :unit, '取り扱い単位' %>
      <%= f.text_field :unit %>
    </div>
    <div>
      <%= f.label :price, '価格' %>
      <%= f.text_field :price %>
    </div>
    <div> 
      <%= f.submit '更新' %>
    </div>
  <% end %>

<%= link_to '戻る', items_path%>

</div>