<div class="input_container">
  <div class="section-title">
    商品の編集
  </div>
  <%= form_with model: @item, local: true do |f| %>

    <div class="form_wrap">
      <%= f.label :category_id, "カテゴリ", class: "form_wrap_text" %>
      <span class="attension">必須</span><br>
      <%= f.collection_select :category_id, @categories, :id, :category, prompt: "カテゴリを選択" %>
    </div>
    <div class="form_wrap">
      <%= f.label :item_name, '商品名', class: "form_wrap_text" %>
      <span class="attension">必須</span><br>
      <%= f.text_field :item_name, class: "form_wrap_field" %>
    </div>
    <div class="form_wrap">
      <%= f.label :unit, '取り扱い単位', class: "form_wrap_text" %>
      <span class="attension">必須</span><br>
      <%= f.text_field :unit, class: "form_wrap_field" %>
    </div>
    <div class="form_wrap">
      <%= f.label :price, '価格', class: "form_wrap_text" %>
      <span class="attension">必須</span><br>
      <%= f.text_field :price, class: "form_wrap_field" %>
    </div>
    <div class="btn_wrap">
      <%= f.submit "更新", class: "form_btn" %>
    </div>
  <% end %>

  <div class="back">
    <%= link_to  '前のページに戻る', items_path %>
  </div>
</div>