<div class="table_container">
  <div class="section-title">
    商品の一覧
  </div>

  <div>
    <label for="category-select">カテゴリで絞り込む:</label>
    <select id="category-select">
      <option value="all">すべてのカテゴリ</option>
      <% @categories.each do |category| %>
        <option value="<%= category.category %>"><%= category.category %></option>
      <% end %>
    </select>
  </div>

  <table class="table-bordered">
    <thead>
      <tr>
        <th>カテゴリ</th>
        <th>商品名</th>
        <th>単位</th>
        <th>単価</th>
        <th>編集</th>
        <th>削除</th>
      </tr>
    </thead>
    <tbody id="item-table-body">
      <% @items.each do |item| %>
        <tr>
          <td class="table-name"><%= item.category.category %></td>
          <td class="table-name"><%= item.item_name %></td>
          <td class="table-unit"><%= item.unit %></td>
          <td class="table-price"><%= item.price %></td>
          <td class="table-link"><%= link_to '編集', edit_item_path(item.id) %></td>
          <td class="table-link"><%= link_to '削除', item_path(item.id), method: :delete, data: { confirm: '削除してもよろしいですか？' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <div class="back">
    <%= link_to  '前のページに戻る', root_path %>
  </div>
</div>

<script>
  document.addEventListener('DOMContentLoaded', (event) => {
    const categorySelect = document.getElementById('category-select');
    const tableBody = document.getElementById('item-table-body');
    const rows = tableBody.getElementsByTagName('tr');

    categorySelect.addEventListener('change', () => {
      const selectedCategory = categorySelect.value;

      // テーブルの行をループし、カテゴリに基づいて表示/非表示を切り替える
      for (let i = 0; i < rows.length; i++) {
        const categoryCell = rows[i].getElementsByTagName('td')[0];
        const category = categoryCell.textContent || categoryCell.innerText;
        if (selectedCategory === 'all' || category === selectedCategory) {
          rows[i].style.display = '';
        } else {
          rows[i].style.display = 'none';
        }
      }
    });
  });
</script>