<div class="table_container">
  <div class="section-title">
    商品の一覧
  </div>

  <table class="table-bordered">
    <thead>
      <tr>
        <th>カテゴリ</th>
        <th>商品名</th>
        <th>単位</th>
        <th>単価</th>
        <th>編集</th>
        <th>削除</th>
      </tr>
    </thead>
    <tbody>
      <% @items.each do |item| %>
        <tr>
          <td><%= item.category.category %></td>
          <td><%= item.item_name %></td>
          <td><%= item.unit %></td>
          <td><%= item.price %></td>
          <td><%= link_to '編集', edit_item_path(item.id) %></td>
          <td><%= link_to '削除', item_path(item.id), method: :delete, data: { confirm: '削除してもよろしいですか？' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>