<div class="box_container">
  <div class="section-title">
    商品別の集計
  </div>

  <div class="box-center">
    <div class="sub-title">
      <span class="attension">選択</span><br>
      <label for="search-switch"></label>
      <input type="radio" id="buy-search-radio" name="search-switch" value="buy" checked>
      <label for="buy-search-radio">仕入れ</label>
      <input type="radio" id="sell-search-radio" name="search-switch" value="sell">
      <label for="sell-search-radio">販売</label>
    </div>

    <div id="buy-search" class="buy-search">
      <%= form_with url: items_buy_receipt_path, method: :get, local: true do %>
        <div class="box-wrap">
          <%= label_tag :item_id, "商品名", class: "box-label" %><br>
          <%= select_tag :item_id, options_from_collection_for_select(@items, :id, :item_name, params[:item_id]), prompt: "商品を選択", class: "box-content" %>
        </div>

        <div class="box-wrap">
          <%= label_tag :start_date, "開始日", class: "box-label" %><br>
          <%= date_field_tag :start_date, params[:start_date], class: "box-content" %>
        </div>

        <div class="box-wrap">
          <%= label_tag :end_date, "終了日", class: "box-label" %><br>
          <%= date_field_tag :end_date, params[:end_date], class: "box-content" %>
        </div>

        <div class="box-wrap-btn">
          <%= submit_tag "仕入れを検索", class: "box-content" %>
        </div>
      <% end %>
    </div>

    <div id="sell-search" class="sell-search">
      <%= form_with url: items_sell_receipt_path, method: :get, local: true do %>
        <div class="box-wrap">
          <%= label_tag :item_id, "商品名", class: "box-label" %><br>
          <%= select_tag :item_id, options_from_collection_for_select(@items, :id, :item_name, params[:item_id]), prompt: "商品を選択", class: "box-content" %>
        </div>

        <div class="box-wrap">
          <%= label_tag :start_date, "開始日", class: "box-label" %><br>
          <%= date_field_tag :start_date, params[:start_date], class: "box-content" %>
        </div>

        <div class="box-wrap">
          <%= label_tag :end_date, "終了日", class: "box-label" %><br>
          <%= date_field_tag :end_date, params[:end_date], class: "box-content" %>
        </div>

        <div class="box-wrap-btn">
          <%= submit_tag "販売を検索", class: "box-content" %>
        </div>
      <% end %>
    </div>

    <div class="back">
      <%= link_to  '前のページに戻る', root_path %>
    </div>
  </div>
</div>

<script>
  document.addEventListener('DOMContentLoaded', (event) => {
    const buyRadio = document.getElementById('buy-search-radio');
    const sellRadio = document.getElementById('sell-search-radio');
    const buySearchSection = document.getElementById('buy-search');
    const sellSearchSection = document.getElementById('sell-search');

    // 初期表示はbuy-searchを表示
    buySearchSection.style.display = 'block';
    sellSearchSection.style.display = 'none';

    const toggleSections = () => {
      if (buyRadio.checked) {
        buySearchSection.style.display = 'block';
        sellSearchSection.style.display = 'none';
      } else if (sellRadio.checked) {
        buySearchSection.style.display = 'none';
        sellSearchSection.style.display = 'block';
      }
    };

    // ラジオボタンの変更イベントにリスナーを追加
    buyRadio.addEventListener('change', toggleSections);
    sellRadio.addEventListener('change', toggleSections);
  });
</script>