<div class="table_container">
  <div class="section-title">
    カテゴリ別集計（仕入れ）
  </div>

  <div class="sub-title">
    <%= @category.category %><br>
    <%= @start_date %>  ～  <%= @end_date %>
  </div>

  <table class="table-bordered">
    <thead>
      <tr>
        <th>日付</th>
        <th>仕入れ先</th>
        <th>商品名</th>
        <th>数量</th>
        <th>単位</th>
        <th>金額</th>
      </tr>
    </thead>
    <tbody>
      <% total = 0 %>
      <% @buy_receipts.each do |buy_receipt| %>
        <% buy_receipt.buy_items.each do |buy_item| %>
          <% if buy_item.item.category_id == @category_id.to_i %>
            <tr>
              <td class="table-day"><%= buy_receipt.transaction_date %></td>
              <td><%= buy_receipt.supplier.company %>
              <td><%= buy_item.item.item_name %></td>
              <td class="table-quantity"><%= buy_item.quantity %></td>
              <td class="table-unit"><%= buy_item.item.unit %></td>
              <td class="table-price"><%= buy_item.item_price %></td>
            </tr>
            <% total += buy_item.item_price unless buy_item.item_price.nil? %>
          <% end %>
        <% end %>
      <% end %>
    </tbody>
    <tfoot>
      <tr>
        <td class="table-total-text">合計</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td class="table-price"><%= total %></td>
      </tr>
    </tfoot>
  </table>

  <div class="back">
    <%= link_to  '前のページに戻る', categories_search_path %>
  </div>
</div>