<div class="input_container">
  <div class="section-title">
    カテゴリの登録
  </div>

  <div class="sub-title">
    <input type="radio" id="input-registration-radio" name="registration-method" value="input" checked>
    <label for="input-registration-radio">直接入力で登録</label>
    <input type="radio" id="csv-registration-radio" name="registration-method" value="csv">
    <label for="csv-registration-radio">CSVで登録</label>
  </div>

  <div id="input-registration" class="input-registration">
    <%= form_with model: @category, local: true do |f| %>
      <div>
        <%= f.label :category, 'カテゴリ名', class: "form_wrap_text" %>
        <span class="attension">必須</span><br>
        <%= f.text_field :category, class: "form_wrap_field" %>
      </div>
      <div class="btn_wrap">
        <%= f.submit "登録", class: "form_btn" %>
      </div>
    <% end %>
  </div>

  <div id="csv-registration" class="csv-registration">
    <%= form_with(url: import_categories_path, local: true, multipart: true) do |form| %>
      <div class="form-group">
        <%= form.file_field :file, required: true %>
      </div>
      <div class="actions">
        <%= form.submit "インポート" %>
      </div>
    <% end %>
  </div>

  <div class="back">
    <%= link_to  '前のページに戻る', root_path %>
  </div>
</div>

<script>
  document.addEventListener('DOMContentLoaded', (event) => {
    const inputRadio = document.getElementById('input-registration-radio');
    const csvRadio = document.getElementById('csv-registration-radio');
    const inputSection = document.getElementById('input-registration');
    const csvSection = document.getElementById('csv-registration');

    // Function to toggle visibility
    function toggleSections() {
      if (inputRadio.checked) {
        inputSection.style.display = 'block';
        csvSection.style.display = 'none';
      } else if (csvRadio.checked) {
        inputSection.style.display = 'none';
        csvSection.style.display = 'block';
      }
    }

    // Event listeners for radio buttons
    inputRadio.addEventListener('change', toggleSections);
    csvRadio.addEventListener('change', toggleSections);

    // Initial visibility
    toggleSections();
  });
</script>


