<h1>カテゴリ登録</h1>

<%= form_with model: @category, local: true do |f| %>
  <div>
    <%= f.label :category, 'カテゴリ名' %>
    <%= f.text_field :category %>
  </div>
  <div>
    <%= f.submit %>
  </div>
<% end %>

<%= form_with(url: import_categories_path, local: true, multipart: true) do |form| %>
  <div class="form-group">
    <%= form.label :file, "CSVファイルを選択" %>
    <%= form.file_field :file %>
  </div>
  <div class="actions">
    <%= form.submit "インポート" %>
  </div>
<% end %>

<%= link_to 'ホームに戻る', root_path %>