<div class="box_container">
  <div class="section-title">
    カテゴリ別の集計
  </div>

  <div>
    <label for="search-switch">検索モード:</label>
    <input type="radio" id="buy-search-radio" name="search-switch" value="buy" checked>
    <label for="buy-search-radio">仕入れ検索</label>
    <input type="radio" id="sell-search-radio" name="search-switch" value="sell">
    <label for="sell-search-radio">販売検索</label>
  </div>

  <div id="buy-search" class="buy-search">
    <div class="box-center">
      <div class="sub-title">
        仕入れから検索
      </div>
      <%= form_with url: categories_buy_receipt_path, method: :get, local: true do %>
        <div class="box-wrap">
          <%= label_tag :category_id, "カテゴリ", class: "box-label" %><br>
          <%= select_tag :category_id, options_from_collection_for_select(@categories, :id, :category, params[:category_id]), prompt: "カテゴリを選択", class: "box-pull" %>
        </div>

        <div class="box-wrap">
          <%= label_tag :start_date, "開始日", class: "box-label" %><br>
          <%= date_field_tag :start_date, params[:start_date], class: "box-calender" %>
        </div>

        <div class="box-wrap">
          <%= label_tag :end_date, "終了日", class: "box-label" %><br>
          <%= date_field_tag :end_date, params[:end_date], class: "box-calender" %>
        </div>

        <div class="box-wrap-btn">
          <%= submit_tag "検索", class: "box-search" %>
        </div>
      <% end %>
    </div>
  </div>

  <div id="sell-search" class="sell-search">
    <div class="box-center">
      <div class="sub-title">
        販売から検索
      </div>

      <%= form_with url: categories_sell_receipt_path, method: :get, local: true do %>
        <div class="box-wrap">
          <%= label_tag :category_id, "カテゴリ", class: "box-label" %><br>
          <%= select_tag :category_id, options_from_collection_for_select(@categories, :id, :category, params[:category_id]), prompt: "カテゴリを選択", class: "box-pull" %>
        </div>

        <div class="box-wrap">
          <%= label_tag :start_date, "開始日", class: "box-label" %><br>
          <%= date_field_tag :start_date, params[:start_date], class: "box-calender" %>
        </div>

        <div class="box-wrap">
          <%= label_tag :end_date, "終了日", class: "box-label" %><br>
          <%= date_field_tag :end_date, params[:end_date], class: "box-calender" %>
        </div>

        <div class="box-wrap-btn">
          <%= submit_tag "検索", class: "box-search" %>
        </div>
      <% end %>
    </div>
  </div>

  <div class="back">
    <%= link_to  '前のページに戻る', root_path %>
  </div>
</div>

<script>
  document.addEventListener('DOMContentLoaded', (event) => {
    const buyRadio = document.getElementById('buy-search-radio');
    const sellRadio = document.getElementById('sell-search-radio');
    const buySearchSection = document.getElementById('buy-search');
    const sellSearchSection = document.getElementById('sell-search');

    // 初期表示はbuy-searchを表示
    buySearchSection.style.display = 'block';
    sellSearchSection.style.display = 'none';

    const toggleSections = () => {
      if (buyRadio.checked) {
        buySearchSection.style.display = 'block';
        sellSearchSection.style.display = 'none';
      } else if (sellRadio.checked) {
        buySearchSection.style.display = 'none';
        sellSearchSection.style.display = 'block';
      }
    };

    // ラジオボタンの変更イベントにリスナーを追加
    buyRadio.addEventListener('change', toggleSections);
    sellRadio.addEventListener('change', toggleSections);
  });
</script>