<h1>仕入れ先の登録</h1>


<div>
<div>
<%= form_with model: @supplier, local: true do |f| %>

<%= f.label :company, '仕入れ先会社名' %>
<%= f.text_field :company %>

<%= f.label :city, '市区町村' %>
<%= f.text_field :city %>

<%= f.label :address, '住所' %>
<%= f.text_field :address %>

<%= f.label :phone, '電話番号' %>
<%= f.text_field :phone %>

<%= f.submit %>

<% end %>

</div>

</div>