<div class="table_container">
  <div class="section-title">
    <%= @customer.company %>への納品書
  </div>

  <%= form_with(model: [@customer, @sell]) do |f| %>
    <div>
      <%= f.label :transaction_date, "納品日" %>
      <%= f.date_field :transaction_date, class: "form-group" %>
    </div>

    <table class="table-bordered">
      <thead>
        <tr>
          <th>カテゴリ</th>
          <th>商品</th>
          <th>数量</th>
          <th>単位</th>
          <th>単価</th>
          <th>合計</th>
        </tr>
      </thead>
      <tbody id="sell-item-forms">
        <%= f.fields_for :sell_items do |sell_item_form| %>
          <tr class="sell-item">
            <td><%= sell_item_form.collection_select :category_id, @categories, :id, :category, { prompt: "カテゴリを選択" }, { class: "sell-category-select" } %></td>
            <td><%= sell_item_form.collection_select :item_id, [], :id, :item_name, { prompt: "商品を選択" }, { class: "sell-item-select" } %></td>
            <td class="table-quantity"><%= sell_item_form.number_field :quantity, class: 'quantity-input' %></td>
            <td class="table-unit" id="unit">--</td>
            <td class="table-price"><%= sell_item_form.text_field :item_price, class: 'item-price' %></td>
            <td class="table-price"><%= sell_item_form.text_field :item_total_price, class: 'item-total-price' %></td>
          </tr>
        <% end %>  
      </tbody>
      <tfoot>
        <td class="table-total-text"><%= f.label :total_price, '総計' %></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td class="table-price"><%= f.text_field :total_price %></td>
      </tfoot>
    </table>

    <%# 追加ボタン %>
    <button type="button" id="add-form-set" class="add-form">商品を追加</button>

    <div class="box-wrap-btn">
      <%= f.submit "作成", class: "box-search" %>
    </div>
  <% end %>

  <div class="back">
  <%= link_to '前のページに戻る', suppliers_order_index_path %>
  </div>
</div>


