<h1>請求書発行</h1>

<%= @start_date %>～<%= @end_date %>

    <table class="table-bordered">
      <thead>
        <tr>
          <th>日付</th>
          <th>金額</th>
        </tr>
      </thead>
      <tbody>
        <% @receipts.each do |receipt| %>
          <tr>
            <td>
              <%= receipt.transaction_date %>
            </td>

            <td>
              <%= receipt.total_price %>              
            </td>
          </tr>
        <% end %>  
      </tbody>
      <tfoot>
        <td>合計</td>
        <td><%= @receipts.sum(&:total_price) %></td>
      </tfoot>
    </table>


PDF