<!DOCTYPE html>
<html>
  <head>
    <title>OriginalApp41418</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <div class="header">
      <div class="header-logo">
        <%= link_to '岩崎会計', root_path, class: "btn" %>
      </div>
      <div class="header-list">
        <% if user_signed_in? %>
          <div class="header-list-li">
            <%= link_to 'マイページ', user_path(current_user.id), class: "btn" %>
          </div>
          <div class="header-list-li">
            <%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: "btn" %>
          </div>
        <% end %>
      </div>
    </div>

    <div class="body_container">
      <%= yield %>
    </div>

  </body>
</html>
