<!DOCTYPE html>
<html>
  <head>
    <title>OriginalApp41418</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <div class="header">
      <div class="header-logo"><%= link_to '縄文会計', root_path, class: "btn" %></div>
      <div class="header-list">
        <div class="header-list-li"><%= link_to 'ログアウト', '', class: "btn" %></div>
        <div class="header-list-li"><%= link_to 'マイページ', '', class: "btn" %></div>
      </div>
    </div>
    <%= yield %>
  </body>
</html>
